* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f8;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #78848b;
}

a,
a:focus,
a:hover,
a:visited {
  color: #3398cc;
}

label {
  font-weight: 400;
  color: #78848b;
}

label {
  font-size: 14px;
  line-height: 18px;
}

.button,
button,
input {
  border-radius: 3px;
}

.button,
button {
  cursor: pointer;
  display: block;
  font-size: 1em;
  height: 3em;
  line-height: 2.857em;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.button.default,
button.default {
  border: 1px solid #3398cc;
  background-color: #3398cc;
  color: #fff;
}

.button.default:active,
.button.default:focus,
.button.default:hover,
button.default:active,
button.default:focus,
button.default:hover {
  background-color: #0b679b;
}

input[type=password],
input[type=text] {
  border: 1px solid #e3e3e3;
  margin-bottom: 1em;
  height: 42px;
  padding: 6px 12px;
}

:disabled {
  cursor: not-allowed;
}

.fullsize-center {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form.login {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 37em;
  margin-bottom: 100px;
  padding: 2em 4em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
}

form.login > img {
  margin: 0 auto 4em;
  max-height: 3.571428571428571em;
}

form.login > .privacy-links {
  position: absolute;
  right: 0;
  bottom: -2em;
}

@media (max-width: 28em) {
  form.login {
    padding-left: 1em;
    padding-right: 1em;
    padding: 3em 1em 2em;
    width: 100%;
    border-radius: 0;
  }

  form.login > img {
    max-height: 4em;
    max-width: 80%;
  }
}

  